/* Toggle switch container */
.toggle-switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 34px;
    transform: scale(0.7);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    gap: 10px;
    align-content: center;
    
}

/* Hide the default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    transition: .4s;
    border-radius: 34px;
}

/* The slider: before */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Toggle on state */
input:checked + .slider {
    background-color: #2196F3;
}

/* Move the slider when toggled */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Apply flexbox to the wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    overflow: hidden;
}

main {
    flex: 1; /* Main content takes the remaining space */
    text-align: center;
}

footer {
    flex-shrink: 0; /* Footer stays at the bottom */
    text-align: center; /* Center text in the footer */
    align-items: center;
    justify-content: center;
}


.logo {
    display: flex;
    margin: auto;
}
.logo img{
    max-width: 120px;
    margin: auto;
}

body {
    margin: auto;
    padding: auto;
    text-align: center;
}

.image {
    margin: auto;
    max-width: 30t0px;
}

