/* Toggle switch container */
.toggle-switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 34px;
    transform: scale(0.7);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    gap: 10px;
    align-content: center;
    
}

/* Hide the default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    transition: .4s;
    border-radius: 34px;
}

/* The slider: before */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Toggle on state */
input:checked + .slider {
    background-color: #2196F3;
}

/* Move the slider when toggled */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Apply flexbox to the wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    overflow: hidden;
}

main {
    flex: 1; /* Main content takes the remaining space */
    text-align: center;
}

footer {
    flex-shrink: 0; /* Footer stays at the bottom */
    text-align: center; /* Center text in the footer */
    align-items: center;
    justify-content: center;
}

button:hover {
    transform: scale(1.08);
}

.logo {
    display: flex;
    margin: auto;
}
.logo img{
    max-width: 120px;
    margin: auto;
}

body {
    margin: auto;
    padding: auto;
    text-align: center;
}

.image {
    margin: auto;
    margin-bottom: 5%;
    max-width: 350px;
}

.openSpotifyButton {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    border-radius: 50px;
    align-items: center;
    letter-spacing: 2px;
}


.icon {
    max-width: 30px;
}

.loading {
    display: none;
    font-size: 30px;
    margin: 50px auto;
    border: 10px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(360deg) scale(2); }
    100% { transform: rotate(720deg) scale(1); }
  }

.songLink {
    display: inline-block;
    margin: auto;
    text-align: left;
    color: white;
}

.songName {
    font-size: 16px;
    margin-bottom: 0px;
}

.songArtists {
    font-size: 14px;
    margin-top: 2px;
    color: #ccc;
}